@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

@section scripts {
    <script type="text/javascript">
        

        getMovie(2, function (movie) {
            //$("#title").html(movie.Title);
            //$("#director").html(movie.Director);
        });

        function getMovie(id, callback) {
            $.ajax({
                url: "/api/Movie",
                data: { id: id },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                statusCode: {
                    200: function (movie) {
                        callback(movie);
                    },
                    404: function () {
                        alert("Not Found!");
                    }
                }
            });
        }
        
        listMovies(function (movies) {
            var strMovies="";
            $.each(movies, function (index, movie) {
                strMovies += "<div>" + movie.Title + "</div>";
            });
            $("#movies").html(strMovies);
 
        });
 
        function listMovies(callback) {
            $.ajax({
                url: "/api/Movie",
                data: {},
                type: "GET",
                contentType: "application/json;charset=utf-8"
            }).then(function(movies){
                callback(movies);
            });
        }




        var movieToCreate = {
            title: "The Hobbit",
            director: "Jackson"
        };
        createMovie(movieToCreate, function (newMovie) {
            alert("New movie created with an Id of " + newMovie.Id);
        });

        function createMovie(movieToCreate, callback) {
            $.ajax({
                url: "/api/Movie",
                data: JSON.stringify(movieToCreate),
                type: "POST",
//                dataType: "json",
                contentType: "application/json;charset=utf-8",
                statusCode: {
                    201: function (newMovie) {
                        callback(newMovie);
                    }
                }
            });
        }

    </script>
}