@model Inntopia.Mobile.Web.Models.InntopiaStart

@{
    ViewBag.Title = "Inntopia Mobile";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider" data-theme="b">Resellers</li>
    @foreach (var reseller in Model.PreferedResellers)
    {
        <li>@Html.ActionLink(reseller.Name + " (" + reseller.ID + ")", "Supplier", "Home", 
                new { id = reseller.ID },
                new { } )</li>
    }
</ul>

