@model Inntopia.Mobile.Web.Models.SelectorResponse

@{
    ViewBag.Title = "SUPPLIER NAME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div data-role="footer" data-position="fixed" >
    @Html.Partial("_SuperCategoryNavbar", Model.SuperCategories)
</div><!-- /footer -->