@{
    ViewBag.Title = "Start.cshtml";
}

<h2>Start.cshtml</h2>

<label for="arrival">Arrival:</label>
<input id="arrival" type="date" data-role='datebox' />
<label for="departure">Departure:</label>
<input id="departure" type="date" data-role='datebox' />

